* {
    padding: 0;
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.page-header {
    background-color: rgb(32, 30, 30);
    height: 10vh;
}

.main-menu {
    flex-grow: 1;
}

.main-menu h1 {
    font-size: 40px;
    background-image: linear-gradient(20deg, #d81824, #fdfdfd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 20px;
}

main {
    background-image: url(img/pechene-rozhdestvo-podarki-novyi-god-iolka-christmas-new-yea.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.main-menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.main-text {
    text-align: center;
    color: #ffffff;
    font-size: 40px;
}

.content {
    padding-top: 200px;
}

.container {
    display: flex;
    flex-direction: column;
}

.container input {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40%;
    padding: 10px;
    text-align: center;
    margin-left: 30%;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
}

.btn {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 20%;
    padding: 10px;
    text-align: center;
    margin-left: 42%;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #e6f066;
    transition: 0.5s;
}

.btn:hover {
    background-color: #e6584e;
}

.btn:active {
    background-color: #ffffff;
}

.text-prize {
    color: #c4e922;
    font-size: 40px;
    text-align: center;
}

.no {
    color: rgb(94, 4, 4);
    font-size: 50px;
    text-align: center;
}